<div
  #maincontent
  [class]="getClass()"
  [draggable]="!isInQuizMode"
  [style.backgroundColor]="getBackgroundColor()"
  (drag)="$event.preventDefault()"
  (dragend)="$event.preventDefault()"
  (dragenter)="$event.preventDefault()"
  (dragleave)="$event.preventDefault()"
  (dragover)="$event.preventDefault()"
  (dragstart)="handleDrag($event)"
  (drop)="notifyDrop($event)"
>
  <p *ngIf="isStart" id="start-arrow">⇒</p>

  <p *ngIf="isGoal" id="goal-arrow">🎯</p>

  <p
    *ngIf="!isStart && !isGoal"
    [style.color]="displayItemToColor.get(displayItem)"
  >
    {{ getDisplayStr() }}
  </p>
</div>

<div class="tile-tooltip" *ngIf="shouldDisplayTileTooltip()">
  <p>Calculated Distance From Start: {{ getDistDisplayStr() }}</p>
  <p>Estimated Distance To Goal: {{ heuristicDist }}</p>
  <p>Cost of passing through: {{ weight }}</p>
</div>

<app-custom-weight-input
  [shouldDisplayCustomWeightInput]="shouldDisplayCustomWeightInput"
  (submitCustomWeightEmitter)="submitCustomWeight($event)"
  (closeCustomWeightInputEmitter)="closeCustomWeightInput()"
></app-custom-weight-input>
