.dropdown-button {
  display: block;
  border-radius: 0;
  margin: 0;
}

.dropdown-items {
  position: absolute;
  display: block;
}

.dropdown-tooltip {
  position: absolute;
  width: 250px;
  font-size: 16px;
  background-color: white;
  border: 2px solid var(--secondary-color);
  margin-left: 8vh;
  padding: 10px;
  margin-top: 0.3vh;
}

.dropdown-wrapper {
  text-align: center;
}

.dropdown-label {
  font-size: 16px;
}

@media screen and (max-width: 1200px) {
  .dropdown-label {
    font-size: 12px;
  }
}
