<div class="page" [style.opacity]="modalDisplayed === Modal.None ? '1' : '0.1'">
  <div class="screen-wide-menu">
    <app-dropdown
      *ngIf="isWidthGreaterThan(1000)"
      [currentItem]="userInteractionModeItem"
      [items]="userInteractionModeItems"
      commentary="The mode for how you interact with the tool. Visualisation mode is passive; it just displays the visualisation. Quiz mode simulates an algorithm and asks you to predict what it will do next."
      label="Interaction Mode"
      (itemChangedEmitter)="setUserInteractionModeItem($event)"
    >
    </app-dropdown>
    <app-dropdown
      [currentItem]="checkingItem"
      [items]="checkingItems"
      commentary="'Check when assigning' only verifies an assignment is valid when it is made. 'Forward checking' gets rid of some remaining invalid assignments when an assignment is made."
      label="Point Assignment Checked"
      (itemChangedEmitter)="setCheckingItem($event)"
    ></app-dropdown>
    <app-dropdown
      [style.visibility]="isUsingForwardChecking() ? 'visible' : 'hidden'"
      [currentItem]="valHeuristicItem"
      [items]="valHeuristicItems"
      commentary="'In order' takes them from left to right. 'Least constraining' takes the column that will lead to the least amount of pruning of unassigned domains, which improves the runtime efficiency of the algorithm."
      label="Column Selected Next"
      (itemChangedEmitter)="setValHeuristicItem($event)"
    ></app-dropdown>
    <app-dropdown
      [style.visibility]="isUsingForwardChecking() ? 'visible' : 'hidden'"
      [currentItem]="pruningAlgoItem"
      [items]="pruningAlgoItems"
      commentary="'Node consistency' prunes remaining domains based on if they're compatible with the assignment made. 'Arc consistency' checks that remaining domains are compatible with all other domains in the whole board."
      label="Consistency of Pruning"
      (itemChangedEmitter)="setPruningAlgoItem($event)"
    ></app-dropdown>
    <app-dropdown
      [style.visibility]="isUsingForwardChecking() ? 'visible' : 'hidden'"
      [currentItem]="varHeuristicItem"
      [items]="varHeuristicItems"
      label="Row Selected Next"
      (itemChangedEmitter)="setVarHeuristicItem($event)"
    ></app-dropdown>
  </div>

  <div class="screen-wide-menu">
    <app-animation
      *ngIf="!isInQuizMode()"
      [isAnimationRunning]="isAnimationRunning"
      (setAnimationRunningEmitter)="setAnimationRunning($event)"
      [animationIndex]="animationIndex"
      (setAnimationIndexEmitter)="setAnimationIndex($event)"
      [animationFrames]="animationFrames"
      [updateAnimationFramesIfNeeded]="updateAnimationFramesIfNeeded.bind(this)"
      [needToUpdateAnimationFrames]="needToUpdateAnimationFrames"
    >
    </app-animation>

    <div class="range-container" *ngIf="isInQuizMode()">
      <p>Set Quiz Delay</p>
      <input
        type="range"
        id="set-quiz-delay"
        class="range"
        [defaultValue]="quizDelayMs"
        min="0"
        max="4000"
        (input)="updateQuizDelayMs($event)"
      />
      <p>{{ quizDelayMs }}ms</p>
    </div>
  </div>

  <div class="board-commentary-container">
    <p class="commentary">{{ getCommentary() }}</p>
    <div class="screen-wide-menu">
      <input type="range" class="range invisible" />
      <div class="board">
        <div
          [class]="getRowClass(rowIndex)"
          *ngFor="
            let row of getCurrentAnimationFrame().board;
            let rowIndex = index
          "
        >
          <app-tile
            *ngFor="let hasQueen of row; let colIndex = index"
            [id]="rowIndex + ' ' + colIndex"
            [sizeInPx]="BOARD_SIZE_IN_PX / boardSize"
            [hasQueen]="hasQueen"
            [isDomainHighlighted]="isTileDomainHighlighted(rowIndex, colIndex)"
            [isUsingForwardChecking]="isUsingForwardChecking()"
            [pos]="{ row: rowIndex, col: colIndex }"
            [isClickable]="isInQuizMode() && canClickOnTileIfInQuizMode"
            (clickEmitter)="handleTileClick($event)"
          >
          </app-tile>
        </div>
      </div>
      <div id="grid-buttons">
        <div class="range-container">
          <p>Set Board Size</p>
          <input
            type="range"
            class="range"
            id="change-board-size"
            [defaultValue]="boardSize"
            min="3"
            [max]="10"
            (input)="setBoardSize($event)"
          />
          <p>{{ boardSize }}</p>
        </div>
        <button (click)="setModalDisplayed(Modal.Tutorial)">Tutorial</button>
      </div>
    </div>
  </div>
</div>

<app-tutorial-modal
  *ngIf="modalDisplayed === Modal.Tutorial"
  [slides]="tutorialModalSlides"
  (hideEmitter)="hideModal()"
></app-tutorial-modal>
