.modal-slide {
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  border: 3px solid var(--secondary-color);
  height: 90vh;
  width: 90vw;
  margin-left: 5vw;
  margin-top: 5vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

@media screen and (max-width: 767px) and (orientation: portrait) {
  .modal-slide {
    display: none;
  }
}

.modal-title {
  margin-top: 10px;
  font-size: 25px;
  align-self: center;
}

.modal-content {
  overflow: scroll;
  overflow-y: auto;
  overflow-x: hidden;
  margin-top: 5px;
  margin-bottom: 50px;
  width: 90vw;
}

.modal-text {
  font-size: 18px;
  margin-left: 3%;
  margin-right: 3%;
  margin-bottom: 10px;
  margin-top: 10px;
}

.modal-centered-text {
  font-size: 18px;
  margin-left: 3%;
  margin-right: 3%;
  margin-bottom: 10px;
  margin-top: 10px;
  align-self: center;
}

.modal-visual-media {
  height: 331px;
  width: 539px;
  margin-left: 50%;
  transform: translate(-50%);
}

@media screen and (min-height: 500px) and (min-width: 950px) {
  .modal-visual-media {
    height: 496px;
    width: 808px;
  }
}

.modal-bottom-left-btn {
  position: absolute;
  bottom: 0;
  left: 0;
  margin-bottom: 5px;
  margin-left: 20px;
}

.modal-left-of-bottom-right-btn {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-bottom: 5px;
  margin-right: 20px;
  transform: translateX(-110%);
}

.modal-bottom-right-btn {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-bottom: 5px;
  margin-right: 20px;
}

@media screen and (max-height: 600px) {
  .modal-bottom-left-btn {
    position: fixed;
  }
  .modal-left-of-bottom-right-btn {
    position: fixed;
  }
  .modal-bottom-right-btn {
    position: fixed;
  }
}

.modal-input-item {
  align-self: center;
  width: 500px;
  height: 100px;
  font-size: 18px;
}
