#animation-menu {
  display: flex;
  justify-content: space-around;
  width: 70vw;
}

#media-control-container {
  margin-left: -4vw;
  margin-right: -4vw;
}

.media-control-symbol {
  border: none;
  font-size: calc((5vmin + 5vmax) / 2);
  background-color: transparent;
}

.media-control-symbol:hover {
  background-color: var(--primary-color);
  color: initial;
  opacity: 0.3;
}
