#animation-menu {
  display: flex;
  justify-content: space-around;
  width: 70vw;
}

@media screen and (max-width: 1300px) {
  #animation-menu {
    width: 100vw;
  }
}

#media-control-container {
  display: flex;
  justify-content: space-around;
  width: 30vw;
}

.media-control-symbol {
  border: none;
  height: 55px;
  width: 50px;
  background-color: transparent;
  cursor: pointer;
}

.media-control-symbol:hover {
  background-color: var(--primary-color);
  color: initial;
  opacity: 0.3;
}
