* {
  padding: 0px;
  margin: 0px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

:root {
  --primary-color: #c8d8e4;
  --secondary-color: black;
}

.page {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  overflow: auto;
}

.invisible {
  visibility: hidden;
}

button,
.page {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

button {
  cursor: pointer;
  border-radius: 5%;
  border: 2px solid var(--secondary-color);
  height: 30px;
  width: 200px;
  font-size: 14px;
}

button:hover {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

.screen-wide-menu {
  display: flex;
  justify-content: space-around;
  width: 100vw;
}

.commentary {
  margin-bottom: -8vh;
  font-size: 16px;
}

body {
  overscroll-behavior: contain;
}

a {
  text-decoration: none;
  font-weight: 600;
  color: darkblue;
}

a:hover {
  opacity: 0.5;
}

.grid {
  border-collapse: collapse;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.row {
  display: flex;
  justify-content: space-around;
}

.range-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.range-container > p {
  font-size: 16px;
}

.range {
  width: 200px;
  cursor: pointer;
}

.pulse-highlight {
  animation-name: pulse;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.opacity-highlight {
  animation-name: opacity-change;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes pulse {
  0% {
    border-radius: 0%;
    opacity: 1;
  }
  50% {
    border-radius: 100%;
    opacity: 0.5;
  }
  100% {
    border-radius: 0%;
    opacity: 1;
  }
}

@keyframes opacity-change {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
