.tile {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--primary-color);
  margin: -2px;
}

.clickable:hover {
  cursor: pointer;
  opacity: 0.6;
}
