#bottom-menu > button {
  margin-top: 3vh;
}

.legend-container > * {
  font-size: calc((1.2vmin + 1.2vmax) / 2);
  margin-top: 2vh;
  margin-bottom: 2vh;
}

#grid-buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}