#bottom-menu > button {
  margin-top: 3vh;
}

.legend-container > * {
  font-size: 16px;
  margin-top: 2vh;
  margin-bottom: 2vh;
}

#grid-buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}